footer{
  margin-top: 200px;
  background-color: rgba(0,0,0,0.2);
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}
footer .footer-main{
  display: flex;
  justify-content: space-around;
}
.list h4{
  font-size: 21px;
  color: darkorange;
  font-weight: 200;
  margin-bottom: 30px;
  position: relative;
}
.list h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 40%;
  left: 0;
  bottom: -10px;
  background-color: darkorange;
}
.list ul li{
  list-style: none;
  margin-bottom: 6px;
  font-size: 14px;
  margin-left: -30px;
}
.list ul li a{
  color: black;
  text-decoration: none;
  margin-right: 40px;
  display: block;
  transition: 0.5s;
}
.list ul li a:hover{
  color: orange;
  transform: translateX(14px);
}
.socialmedia ul li{
  display: flex;
}
.end-text{
  text-align: center;
  padding-top: 17px;
  padding-bottom: 10px;
}
